<% content_for :title, "メール送信" %>

<section class="container mx-auto px-4 py-8">
  <div class="bg-white rounded-lg shadow p-8 max-w-md mx-auto">
    <h2 class="text-3xl mb-4">メール送信</h2>
    <p class="mt-4 text-center">
      パスワードのリセット方法を記載したメールが送信されます。
    </p>
  </div>
</section>
