<footer class="bg-gray-800 text-white py-4">
  <div class="container mx-auto px-4 text-center">
    <a href="#" class="mx-2">お問い合わせ</a>
    <a href="#" class="mx-2">利用規約</a>
    <a href="#" class="mx-2">プライバシーポリシー</a>
  </div>
</footer>
